version: "3"
services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  consumer:
    build: consumer
    volumes:
      - ./consumer:/code
    links:
      - rabbitmq
    restart: on-failure